{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}

<style>
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
</style>

<div class="container">
  <h1 class="text-center p-3">О Центре</h1>
  <p>В августе 2017 года в НАО «КарТУ» создан Центр обслуживания студентов (ЦОС), для оказания обучающимся государственных и учебно-образовательных услуг, обеспечению их доступности по принципу «одного окна».</p>
  <img src="{% static 'img/about1.jpg' %}" class="image">
  <p><b>Основная цель ЦОС</b> - максимальное улучшение всестороннего взаимодействия со студенческим сообществом, устранить бюрократические барьеры и коррупционные риски в системе взаимодействия «университет – обучающийся», дублирующие действия при оказании услуг.</p>
  <p><b>Задачи ЦОС</b> – это качество, доступность, прозрачность, постоянное совершенствование оказываемых услуг, своевременная обработка поступивших заявок, оказание информационно-консультативной помощи обучающимся, ППС и сотрудникам.</p>
  <p>Функционирует электронная система управления очередью. В холле имеются места для ожидания, ведется трансляция видеороликов по обучению работе на веб-портале «Электронного Правительства РК» <a href="https://egov.kz">https://egov.kz</a>, что создает комфортные условия ожидания обучающимся.</p>
  <img src="{% static 'img/about2.jpg' %}" class="image">
  <p>В целях реализации  государственной программы «Цифровой Казахстан», для оптимизации бизнес-процессов предоставления государственных и учебно-образовательных услуг в электронном формате предоставляется 17 видов услуг, из них 6 государственных, 11 учебно-образовательных. Данная форма предоставления услуг позволяет сократить время рассмотрения заявок, минимизировать участие обучающихся в подготовке документов, исключить коррупционные риски.
  </p>
  <h1 class="text-center p-3">Подача онлайн-заявки</h1>
  <p><b>Подаются онлайн-заявки на оказание услуг через сайт университета https://www.kstu.kz/ в разделе «Быстрые ссылки – Студенту – ЦОС - Список услуг»,</b> а также в государственную корпорацию (ЦОН) либо направляют заявку через веб-портал «Электронного Правительства РК» https://egov.kz.</p>

  <img src="{% static 'img/online.png' %}" class="image">
</div>
{% endblock %}
