{% extends "ssc/service_wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% block description %}
<h3 class="text-center p-3">Выдача сертификата о сдаче единого национального тестирования</h3>
<div class="alert alert-info text-center"><h5>Статус услуги: {% if status %}Автоматизирована <i class="fas fa-cogs fa-lg"></i>{% else %}в процессе разработки <i class="fab fa-dev fa-lg"></i>{% endif %}</h5></div>
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-2">
        <a class="btn btn-primary btn-block" href="https://ent.testcenter.kz/">Перейти к получению услуги на НЦТ</a>
    </div>
    <div class="col-md-6 text-center mb-2">
        <a class="btn btn-info btn-block" href="https://egov.kz/cms/ru/services/professional_education/pass206-1_mon" target="_blank">Получение услуги на Egov</a>
    </div>
</div>
<div class="m-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Государственный орган:</b>Министерство образования и науки РК</li>
        <li class="list-group-item"><b>Получатели услуги:</b> Физические лица</li>
        <li class="list-group-item"><b>Место предоставления услуги:</b>
            <ul class="list-unstyled">
                <li><a href="http://egov.kz/cms/ru/articles/2Fvusi_rk" target="_blank">Высшие учебные заведения РК</a></li>
            </ul>
        </li>
        <li class="list-group-item"><b>Стоимость услуги:</b> Платно</li>
        <li class="list-group-item"><b>Сроки оказания услуги:</b> 4 календарных дня</li>
        <li class="list-group-item"><b>Полное наименование услуги:</b> Выдача сертификата о сдаче комплексного тестирования</li>
        <li class="list-group-item"><b>Необходимые документы:</b>
            <ol>
                <li>Заявление в произвольной форме.</li>
                <li>Копия удостоверения личности.</li>
                <li>Документ, подтверждающий оплату за оказание государственной услуги.</li>
            </ol>
        </li>
    </ul>
</div>
{% endblock description %}
</div>
{% endblock content%}
