{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Учебно-образовательные услуги</h1>
        <h5 class="text-center">Учебно-образовательные услуги обучающимся оказываются с соблюдением Порядка оказания учебно-образовательных услуг, утвержденного в университете.</h5>
        <br>
        <ul class="border border-dark">
            <li><p>Транскрипт обучавшихся в КарТУ</p></li>
            <li><p>Транскрипт обучающихся в КарТУ</p></li>
            <li><p>Предоставление и продление академического отпуска</p></li>
            <li><p>Возвращение из академического отпуска</p></li>
            <li><p>Перевод и восстановление (в другой ВУЗ, в КарТУ, в число обучающихся)</p></li>
            <li><p>Перевод внутри ВУЗа</p></li>
            <li><p>Отчисление по собственному желанию</p></li>
            <li><p>Изменение персональных данных</p></li>
            <li><p>Выдача справки с места учебы (ф.10)</p></li>
            <li><p>Восстановление ключ-карты при утере</p></li>
            <li><p>Получение ключ-карты при восстановлении и переводе из другого ВУЗа</p></li>
        </ul>
    </div>
{% endblock %}
