{% extends "ssc/service_wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% block description %}
<h3 class="text-center p-3">Предоставление общежития обучающимся в высших учебных заведениях</h3>
<div class="alert alert-info text-center"><h5>Статус услуги: {% if status %}Автоматизирована <i class="fas fa-cogs fa-lg"></i>{% else %}в процессе разработки <i class="fab fa-dev fa-lg"></i></i>{% endif %}</h5></div>
<div class="container">
    <div class="row text-break">
        <div class="col m-2 border border-info">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Государственный орган:</b> <a href="http://edu.gov.kz/ru" target="_blank">Министерство образования и науки РК</a></li>
                <li class="list-group-item"><b>Получатели услуги:</b> Физические лица</li>
                <li class="list-group-item"><b>Место предоставления услуги:</b>
                    <ul class="list-unstyled">
                        <li><a href="http://egov.kz/cms/ru/articles/2Fvusi_rk" target="_blank">Высшие учебные заведения РК</a></li>
                        <li><a href="https://egov.kz/cms/ru/government-services/for_citizen" target="_blank">Портал «электронного правительства»</a></li>
                    </ul>
                </li>
                <li class="list-group-item"><b>Стоимость услуги:</b> Бесплатно</li>
                <li class="list-group-item"><b>Сроки оказания услуги:</b> 3 рабочих дня</li>
                <li class="list-group-item"><b>Полное наименование услуги:</b> Предоставление общежития обучающимся в высших учебных заведениях</li>
            </ul>
        </div>
        <div class="col-md-9 mb-2">
            <div class="row mb-2">
                <div class="col-lg mt-2">
                    <a class="btn btn-info btn-block" href="http://adilet.zan.kz/rus/docs/V1500011286#z47" target="_blank">Стандарт государственной услуги</a>
                </div>
                <div class="col-lg mt-2">
                    <a class="btn btn-info btn-block" href="https://egov.kz/cms/ru/services/professional_education/pass207_mon" target="_blank">Получение услуги на Egov</a>
                </div>
            </div>
            <li class="list-group-item"><b>Необходимые документы:</b>
                <ol>
                    <li>Заявление.</li>
                    <li>Копия документа, удостоверяющего личность услугополучателя.</li>
                    <li>Копия свидетельства о смерти обоих или единственного родителя либо справка из детского дома.</li>
                    <li>Копия удостоверения о статусе оралмана.</li>
                    <li>Справка о наличии в семье 4-х и более детей.</li>
                    <li>Справка о подтверждении инвалидности.</li>
                </ol>
            </li>
            {% block form %}
            <div class="row justify-content-center m-2">
                <div class="col text-center">
                    <a class="btn btn-primary" href="http://hostel.kstu.kz/">Перейти к форме заявления</a>
                </div>
            </div>
            {% endblock form %}
        </div>
    </div>
</div>
{% endblock description %}
</div>
{% endblock content%}
