{% extends "ssc/service_wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        {% block description %}
            <h3 class="text-center p-3">Предоставление общежития обучающимся в высших учебных заведениях</h3>
            <div class="alert alert-info text-center"><h5>Статус услуги: {% if status %}Автоматизирована
                <i class="fas fa-cogs fa-lg"></i>{% else %}в процессе разработки <i class="fab fa-dev fa-lg"></i>
                </i>{% endif %}</h5></div>
            <div class="container">
                <div class="row text-break">
                    <div class="col m-2 border border-info">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Государственный орган:</b> Министерство образования и науки
                                РК
                            </li>
                            <li class="list-group-item"><b>Получатели услуги:</b> Физические лица</li>
                            <li class="list-group-item"><b>Место предоставления услуги:</b>
                                <ul class="list-unstyled">
                                    <li><a href="http://egov.kz/cms/ru/articles/2Fvusi_rk" target="_blank">Высшие
                                        учебные заведения РК</a></li>
                                    <li><a href="https://egov.kz/cms/ru/government-services/for_citizen"
                                           target="_blank">Портал «электронного правительства»</a></li>
                                </ul>
                            </li>
                            <li class="list-group-item"><b>Стоимость услуги:</b> Бесплатно</li>
                            <li class="list-group-item"><b>Сроки оказания услуги:</b> 3 рабочих дня</li>
                            <li class="list-group-item"><b>Полное наименование услуги:</b> Предоставление общежития
                                обучающимся в высших учебных заведениях
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 mb-2">
                        <div class="row mb-2">
                            <div class="col-lg mt-2">
                                <a class="btn btn-info btn-block"
                                   href="https://egov.kz"
                                   target="_blank">Получение услуги на Egov</a>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-lg mt-2">
                                <a class="btn btn-info btn-block"
                                   href="/check_hostel">Проверить свою заявку</a>
                            </div>
                        </div>

                        <!-- <div class="row mb-2">
                            <div class="col-lg mt-2">
                                <a class="btn btn-info btn-block"
                                   href="/hostel_space"
                                   target="_blank">Отчет о местах в общежитии</a>
                            </div>
                        </div> -->

                        <li class="list-group-item"><b>Необходимые документы:</b>
                            <ol>
                                <li>Заявление.</li>
                                <li>Копия документа, удостоверяющего личность услугополучателя.</li>
                                <li>Справка об отсутствии (наличии) недвижимого имущества.</li>
                                <li>Копия свидетельства о смерти обоих или единственного родителя либо справка из
                                    детского дома.
                                </li>
                                <li>Справка о наличии в семье 4-х и более детей.</li>
                                <li>Справка о подтверждении инвалидности.</li>
                                <li>Документ о статусе "кандас".</li>
                            </ol>
                        </li>
                        {% block form %}
                            <form class="p-2 border border-primary" method="post" enctype="multipart/form-data">
                                <h4 class="text-center">Форма заявления</h4>
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.last_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.first_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.patronymic|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.individual_identification_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row align-items-end">
                                        <div class="form-group col-sm">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.phone_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.course|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.group|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.faculty|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.specialty|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.is_serpin|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.place_of_arrival|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.iin_attachment_front|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.iin_attachment_back|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.attachmentProperty|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.attachmentDeath|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.attachmentLarge|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.attachmentDisabled|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.attachmentKandas|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="alert alert-danger"><p>Фотографии или отсканированные изображения
                                        документов должны быть четкими, видны все данные документа!</p>
                                        <p class="mb-0">Максимальный размер файла прикрепления не должен превышать 5 мегабайт (5
                                            МВ)</p>
                                    </div>
                                    {{ form.captcha }}
                                    <p class="text-muted">* - обязательные поля для заполнения</p>
                                    <button type="submit" class="btn btn-success mt-1">Отправить заявку</button>
                                </div>
                            </form>
                            </div>
                        {% endblock form %}
                </div>
            </div>
            </div>
        {% endblock description %}
    </div>
{% endblock content %}
