{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}
<style>
    .card {
        border: 1px solid #ccc;
        background-color: white;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }

    .card-img-top {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .row{
        margin: auto;
    }
</style>

    <div class="container">
        <h1 class="text-center p-3">Центр обслуживания студентов</h1>
        <div class="row w-75" >
            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/book.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">О Центре</h5>
                </div>
                <a href="/about" class="card-link stretched-link"></a>
            </div>

            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/state.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Гос. услуги</h5>
                </div>
                <a href="/state" class="card-link stretched-link"></a>
            </div>

            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/earth.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Учебно-образовательные услуги</h6>
                </div>
                <a href="/education" class="card-link stretched-link"></a>
            </div>

            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/computer.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Подача онлайн-заявки</h5>
                </div>
                <a href="/online" class="card-link stretched-link"></a>
            </div>

            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/chemistry.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Уголок самообслуживания</h6>
                </div>
                <a href="/self" class="card-link stretched-link"></a>
            </div>

            <div class="card" style="width: 11rem;">
                <img class="card-img-top w-75" src="{% static 'img/professor.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Сотрудники</h5>
                </div>
                <a href="/stuff" class="card-link stretched-link"></a>
            </div>
        </div>
    </div>
{% endblock %}
