{% extends "ssc/service_wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% block description %}
<h3 class="text-center p-3">Прием документов и зачисление в высшие учебные заведения для обучения по образовательным программам послевузовского образования</h3>
<div class="alert alert-info text-center"><h5>Статус услуги: {% if status %}Автоматизирована <i class="fas fa-cogs fa-lg"></i>{% else %}в процессе разработки <i class="fab fa-dev fa-lg"></i></i>{% endif %}</h5></div>
<div class="row justify-content-center">
    <div class="col text-center mb-2">
        <a class="btn btn-primary btn-block" href="http://45.132.85.24/FutureMagistrant" target="_blank">Перейти к получению услуги</a>
        <a class="btn btn-secondary btn-block" href="https://egov.kz/cms/ru/services/higher_education/193pass_mon" target="_blank">Получение услуги на Egov</a>
    </div>
</div>
<div class="m-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Государственный орган:</b>Министерство образования и науки РК</li>
        <li class="list-group-item"><b>Получатели услуги:</b> Физические лица</li>
        <li class="list-group-item"><b>Место предоставления услуги:</b>
            <ul class="list-unstyled">
                <li><a href="http://egov.kz/cms/ru/articles/2Fvusi_rk" target="_blank">Высшие учебные заведения РК</a></li>
                <li><a href="https://egov.kz/cms/ru/government-services/for_citizen" target="_blank">Портал «электронного правительства»</a></li>
            </ul>
        </li>
        <li class="list-group-item"><b>Стоимость услуги:</b> Бесплатно</li>
        <li class="list-group-item"><b>Сроки оказания услуги:</b> 3 часа</li>
        <li class="list-group-item"><b>Полное наименование услуги:</b> Прием документов и зачисление в высшие учебные заведения для обучения по образовательным программам послевузовского образования</li>
        <li class="list-group-item"><b>Необходимые документы:</b>
            <h6>При поступлении в магистратуру:</h6>
            <ol>
                <li>Заявление на имя руководителя организации о приеме в произвольной форме.</li>
                <li>Копия  документа о высшем образовании.</li>
                <li>Свидетельство об окончании интернатуры (для поступления в резидентуру).</li>
                <li>Копия сертификата  о сдаче теста по иностранному языку (английский, французский, немецкий) по программам (TOEFL, IELTS, DSH, DALF, TCF).</li>
                <li>Документ, подтверждающий трудовую деятельность (для лиц, имеющих трудовой стаж).</li>
                <li>6 фото размером 3x4 см.</li>
                <li>Медицинская справка формы 086-У.</li>
                <li>Копия удостоверения личности.</li>
                <li>Список научных и научно-методических работ (в случае их наличия).</li>
            </ol>
            <h6>При поступлении в докторантуру:</h6>
            <ol>
                <li>Заявление на имя руководителя организации о приеме в произвольной форме.</li>
                <li>Обоснование планируемого диссертационного исследования, согласованное с предполагаемым отечественным или зарубежным научным консультантом.</li>
                <li>Копия документа, удостоверяющего личность..</li>
                <li>Копия документа об образовании.</li>
                <li>Копия сертификата о сдаче теста по иностранному языку (английский, французский, немецкий) по программам (TOEFL, IELTS, DSH, DALF, TCF).</li>
                <li>Список научных и научно-методических работ (в случае их наличия).</li>
                <li>6 фотографий размером 3x4 сантиметров.</li>
                <li>Медицинская справка формы 086-У, утвержденной приказом № 907.</li>
                <li>Документ, подтверждающий трудовую деятельность (для лиц, имеющих трудовой стаж).</li>
            </ol>
        </li>
        <li class="list-group-item">
            <b>Пороговый балл:</b>
            <ol>
                <li>TOEFL - пороговый балл не менее 560.</li>
                <li>IELTS - пороговый балл не менее 6.0.</li>
                <li>DSH - пороговый балл С1.</li>
                <li>DALF - пороговый балл С1.</li>
                <li>TCF- пороговый балл не менее 400.</li>
            </ol>
        </li>
    </ul>
</div>
{% endblock description %}
{% block form %}
{#<div class="row justify-content-center">#}
{#    <div class="col text-center">#}
{#        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Перейти к форме заявления</button>#}
{#    </div>#}
{#</div>#}
{#<form class="collapse p-2 m-2" id="collapseExample" method="post">#}
{#    {% csrf_token %}#}
{#    <div class="form-group">#}
{#        <div class="form-row">#}
{#            <div class="form-group col-sm">#}
{#                {{ form.last_name|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col-sm">#}
{#                {{ form.first_name|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col-sm">#}
{#                {{ form.patronymic|as_crispy_field }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-row">#}
{#            <div class="form-group col">#}
{#                {{ form.course|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.group|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.specialty|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.education_form|as_crispy_field }}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-row">#}
{#            <div class="form-group col">#}
{#                {{ form.receipt_year|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.exclude_year|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.email|as_crispy_field }}#}
{#            </div>#}
{#            <div class="form-group col">#}
{#                {{ form.phone_number|as_crispy_field }}#}
{#            </div>#}
{#        </div>#}
{#        {{ form.reason|as_crispy_field }}#}
{#        {{ form.captcha }}#}
{#        <button type="submit" class="btn btn-success mt-1">Отправить заявку</button>#}
{#    </div>#}
{#</form>#}
{% endblock form %}
</div>
{% endblock content%}
