{% extends "ssc/service_wrapper.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        {% block description %}
            <h3 class="text-center p-3">Транскрипт для обучающихся в КарТУ</h3>
            <div class="alert alert-info text-center"><h5>Статус услуги: {% if status %}Автоматизирована
                <i class="fas fa-cogs fa-lg"></i>{% else %}в процессе разработки <i class="fab fa-dev fa-lg"></i>
                </i>{% endif %}</h5></div>
            <div class="container">
                <div class="text-center">
                    <div class="col">
                        <a class="btn btn-outline-primary btn-lg btn-block" role="button" href="#" data-toggle="modal" data-target="#rules">Процедура оказания услуги</a>
                        <br>
                        {% block form %}
                            <form class="p-2 border border-primary" method="post" enctype="multipart/form-data">
                                <h4 class="text-center">Форма заявления</h4>
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.last_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.first_name|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.patronymic|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.individual_identification_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row align-items-end">
                                        <div class="form-group col-sm">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.phone_number|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-sm">
                                            {{ form.course|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.group|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.faculty|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-sm">
                                            {{ form.is_signed|as_crispy_field }}
                                        </div>
                                    </div>
                                    {{ form.captcha }}
                                    <p class="text-muted">* - обязательные поля для заполнения</p>
                                    <button type="submit" class="btn btn-success mt-1">Отправить заявку</button>
                                </div>
                            </form>
                            </div>
                        {% endblock form %}
                </div>
            </div>
            </div>
        {% endblock description %}

    </div>
<div class="modal fade bd-example-modal-lg" id="rules" tabindex="-1" role="dialog" aria-labelledby="rulesTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rulesTitle">Процедура оказания услуги</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width:100%; height:75vh;">
                <object type="application/pdf" data="{% static 'manual/2.pdf' %}" width="100%" height="100%">Не поддерживается</object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
