{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="text-center p-3">Уголок самообслуживания</h1>
  <p>Наличие в ЦОС уголка самообслуживания позволяет обучающимся, ППС и сотрудникам ВУЗа получать необходимые справки такие как: о наличии или отсутствии недвижимого имущества, об отсутствии судимости, с противотуберкулезной, психоневрологической организаций, паспорт вакцинации и другие. </p>
  <p>Работники ЦОС на постоянной основе оказывают практическую и информационно-консультативную помощь обучающимся и сотрудникам при подаче  заявок, получении ЭЦП, справок, а также ведут их регистрацию в базе мобильных граждан через сайт  <a href="https://egov.kz">https://egov.kz</a>.</p>
  <div class="row">
    <div class="col-md w-25">
      <img src="{% static 'img/self1.jpg' %}">
    </div>
    <div class="col-md w-25">
      <img src="{% static 'img/self2.jpg' %}">
    </div>
  </div>

</div>
{% endblock %}
