{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Государственные услуги</h1>
        <h5 class="text-center">Государственные услуги оказываются в соответствии с действующими Правилами и стандартами государственных услуг.</h5>
        <br>
        <ul class="border border-dark">
            <li><a href="https://adilet.zan.kz/rus/docs/V1800017650#z3" target="_blank"><p>Прием документов и зачисление в высшие учебные заведения для обучения по образовательным программам высшего образования</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1800017650#z3" target="_blank"><p>Прием документов и зачисление в высшие учебные заведения для обучения по образовательным программам послевузовского образования</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V080005499_" target="_blank"><p>Прием документов для участия в конкурсе на обучение за рубежом, в т.ч. в рамках академической мобильности</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1500010348" target="_blank"><p>Выдача дубликатов документов о высшем и послевузовском образовании</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1600013487" target="_blank"><p>Предоставление общежития обучающимся в организациях высшего или послевузовского образования</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V2000020579" target="_blank"><p>Предоставление бесплатного питания отдельным категориям граждан, а также лицам,
                находящимся под опекой (попечительством) и патронатом, обучающимся и
                воспитанникам организаций технического и профессионального, послесреднего и
                высшего образования</p></a></li>
        </ul>
    </div>
{% endblock %}
