{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}

<style>
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
</style>

<div class="container">
  <h1 class="text-center p-3">Сотрудники </h1>
  <h3 class="text-center p-2">Габайдулина Татьяна Иосифовна</h3>
  <h3 class="text-center p-2">Руководитель Центра обслуживания студентов</h3>
  <h6 class="text-center p-1">пр. Н.Назарбаева, 56/1, 1 корпус, 107 кабинет</h6>
  <h6 class="text-center p-1">56-59-32 (вн.2023)</h6>
  <h6 class="text-center p-1">8-701-551-06-27</h6>
  <h6 class="text-center p-1"><a href="mailto:kargtu.cos@mail.ru">kargtu.cos@mail.ru</a></h6>

  <br>

  <img src="{% static 'img/stuff.jpg' %}" class="image" height="250px">
  <h3 class="text-center p-2">Толегенова Жадыра Нурахметовна</h3>
  <h3 class="text-center p-2">Специалист Центра обслуживания студентов</h3>
  <h6 class="text-center p-1">пр. Н.Назарбаева, 56/1, 1 корпус, 107 кабинет</h6>
  <h6 class="text-center p-1">56-59-32 (вн.2023)</h6>
  <h6 class="text-center p-1">8-778-960-44-20</h6>
  <h6 class="text-center p-1"><a href="mailto:kargtu.cos@mail.ru">kargtu.cos@mail.ru</a></h6>

</div>
{% endblock %}
