{% extends "ssc/../base.html" %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center vh-100">
    <div class="container text-center">
        <p>{{ type }}</p>
        <p>ФИО заказчика: {{ first_name }} {{  last_name }}</p>
        <p>ИИН: {{ iin }}</p>
        <p>EMAIL: {{ email }}</p>
        <p>Адрес: {{ address }}</p>
        <p>Номер телефона: {{ phone_number }}</p>
        <p>Факультет: {{ faculty }}</p>
        <p>Дата подачи заявки: {{ date }}</p>
    </div>
</div>
{% endblock %}
