certifi==2020.4.5.1
Django==2.2.27
django-crispy-forms==1.8.1
django-environ==0.4.5
django-hashid-field==3.0.0
django-recaptcha==2.0.6
hashids==1.2.0
mysqlclient==1.4.6
pdfkit==0.6.1
Pillow==9.0.0
pypng==0.0.20
PyQRCode==1.2.1
pytz==2019.3
sentry-sdk==0.19.5
six==1.12.0
sqlparse==0.3.0
urllib3==1.26.5
whitenoise==5.0.1
XlsxWriter==1.2.8
django-admin-rangefilter==0.6.2
regex==2020.11.13