{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}

<style>
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
</style>

<div class="container">
  <h1 class="text-center p-3">Орталық туралы</h1>
  <p>2017 жылғы тамызда «ҚарТУ» КЕ АҚ-та студенттердің «бір терезе» қағидаты бойынша қолжетімділігін қамтамасыз ету үшін мемлекеттік және оқу-білім беру қызметтерін көрсету орталығы (СҚКО) құрылды. </p>
  <img src="{% static 'img/about1.jpg' %}" class="image">
  <p><b>СҚКО-ның негізгі мақсаты</b> - студенттік қоғамдастықпен жан-жақты өзара іс-әрекетін барынша жақсарту, қызмет көрсету кезінде қайталанатын «университет-білім алушы» өзара іс-әрекеттесу жүйесіндегі бюрократиялық кедергілер мен сыбайлас жемқорлық тәуекелдерін жою.</p>
  <p><b>СҚКО міндеттері</b> – бұл сапа, қолжетімділік, ашықтық, көрсетілетін қызметтерді үнемі жетілдіру, келіп түскен өтінімдерді уақтылы өңдеу, білім алушыларға, ПОҚ пен қызметкерлерге ақпараттық-консультациялық көмек көрсету.</p>
  <p>Электронды кезекті басқару жүйесі жұмыс істейді. Холлда күту орындары бар, «Қазақстан Республикасының электрондық үкіметінің» <a href="https://egov.kz">https://egov.kz</a> веб-порталында жұмыс істеуді оқыту бойынша бейнероликтер көрсетіліп, студенттердің күтуіне қолайлы жағдай жасалған.</p>
  <img src="{% static 'img/about2.jpg' %}" class="image">
  <p>«Цифрлық Қазақстан» мемлекеттік бағдарламасын іске асыру мақсатында мемлекеттік және оқу-білім беру қызметтерін электрондық форматта ұсынудың бизнес-процестерін оңтайландыру үшін 17 қызмет түрі ұсынылады, оның ішінде 6 мемлекеттік, 11 оқу-білім беру қызметтері. Қызмет көрсетудің бұл түрі өтінімдерді қарау уақытын қысқартуға, білім алушылардың құжаттарды дайындауға қатысуын барынша азайтуға, сыбайлас жемқорлық тәуекелдерін болдырмауға мүмкіндік береді. </p>
  <h1 class="text-center p-3">Онлайн өтінім беру</h1>
  <p><b>Қызмет көрсетуге онлайн-өтінімдер https://www.kstu.kz / университет сайты арқылы «Жылдам сілтемелер – Студентке – СҚКО - Қызметтер тізімі» бөлімінде беріледі,</b> ондай-ақ өтінімді мемлекеттік корпорацияға (ХҚКО)  "ҚР электрондық үкіметінің" веб-порталы арқылы да жолдайды https://egov.kz. </p>

  <img src="{% static 'img/online.png' %}" class="image">
</div>
{% endblock %}
