{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Оқу-білім беру қызметтері</h1>
        <h5 class="text-center">Білім алушыларға оқу-білім беру қызметтері Университетте бекітілген
            оқу-білім беру қызметтерін көрсету тәртібін сақтай отырып көрсетіледі.</h5>
        <br>
        <ul class="border border-dark">
            <li><a href="{% static 'manual/1.pdf' %}" target="_blank"><p>ҚарТУ-да білім алғандардың транскрипті</p></a></li>
            <li><a href="{% static 'manual/2.pdf' %}" target="_blank"><p>ҚарТУ-да білім алушыларының транскрипті</p></a></li>
            <li><a href="{% static 'manual/3.pdf' %}" target="_blank"><p>Академиялық демалыс беру және ұзарту</p></a></li>
            <li><a href="{% static 'manual/4.pdf' %}" target="_blank"><p>Академиялық демалыстан оралу</p></a></li>
            <li><a href="{% static 'manual/5.pdf' %}" target="_blank"><p>Ауыстыру және қайта қабылдау (басқа ЖОО-ға, ҚарТУ-ға, білім алушылар қатарына)</p></a></li>
            <li><a href="{% static 'manual/5.pdf' %}" target="_blank"><p>ЖОО ішінде ауысу</p></a></li>
            <li><a href="{% static 'manual/8.pdf' %}" target="_blank"><p>Өз еркімен оқудан шығару</p></a></li>
            <li><a href="{% static 'manual/6.pdf' %}" target="_blank"><p>Дербес деректерді өзгерту</p></a></li>
            <li><a href="{% static 'manual/7.pdf' %}" target="_blank"><p>Оқу орнынан анықтама беру (ф.10)</p></a></li>
            <li><a href="{% static 'manual/9.pdf' %}" target="_blank"><p>Жоғалған жағдайда кілт картаны қалпына келтіру</p></a></li>
            <li><p>Басқа ЖОО-дан қайта қабылдау және ауыстыру кезінде кілт-картаны алу</p></li>
        </ul>
    </div>
{% endblock %}
