{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Оқу-білім беру қызметтері</h1>
        <h5 class="text-center">Білім алушыларға оқу-білім беру қызметтері Университетте бекітілген
            оқу-білім беру қызметтерін көрсету тәртібін сақтай отырып көрсетіледі.</h5>
        <br>
        <ul class="border border-dark">
            <li><p>ҚарТУ-да білім алғандардың транскрипті</p></li>
            <li><p>ҚарТУ-да білім алушыларының транскрипті</p></li>
            <li><p>Академиялық демалыс беру және ұзарту</p></li>
            <li><p>Академиялық демалыстан оралу</p></li>
            <li><p>Ауыстыру және қайта қабылдау (басқа ЖОО-ға, ҚарТУ-ға, білім алушылар қатарына)</p></li>
            <li><p>ЖОО ішінде ауысу</p></li>
            <li><p>Өз еркімен оқудан шығару</p></li>
            <li><p>Дербес деректерді өзгерту</p></li>
            <li><p>Оқу орнынан анықтама беру (ф.10)</p></li>
            <li><p>Жоғалған жағдайда кілт картаны қалпына келтіру</p></li>
            <li><p>Басқа ЖОО-дан қайта қабылдау және ауыстыру кезінде кілт-картаны алу</p></li>
        </ul>
    </div>
{% endblock %}
