{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="text-center p-3">Өзіне-өзі қызмет көрсету бұрышы</h1>
  <p>СҚКО-да өзіне-өзі қызмет көрсету бұрышының болуы білім
    алушыларға, ПОҚ-қа және ЖОО қызметкерлеріне: жылжымайтын мүліктің
    болуы немесе болмауы туралы, соттылықтың болмауы туралы, туберкулезге
    қарсы, психоневрологиялық ұйымдардан қажетті анықтамаларды,
    вакцинация паспортын және басқаларды алуға мүмкіндік береді.</p>
  <p>СҚКО қызметкерлері тұрақты негізде білім алушылар мен
    қызметкерлерге өтінім беру, ЭЦҚ, анықтамалар алу кезінде практикалық
    және ақпараттық-консультациялық көмек көрсетеді, сондай-ақ оларды сайт
    арқылы мобильді азаматтар базасында тіркеуді жүргізеді <a href="https://egov.kz">https://egov.kz</a>.</p>
  <div class="row">
    <div class="col-md w-25">
      <img src="{% static 'img/self1.jpg' %}">
    </div>
    <div class="col-md w-25">
      <img src="{% static 'img/self2.jpg' %}">
    </div>
  </div>

</div>
{% endblock %}
