{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Мемлекеттік қызметтер</h1>
        <h5 class="text-center">Мемлекеттік қызметтер қолданыстағы Мемлекеттік көрсетілетін қызметтер қағидалары мен стандарттарына сәйкес көрсетіледі.</h5>
        <br>
        <ul class="border border-dark">
            <li><p>Жоғары білімнің білім беру бағдарламалары бойынша оқыту үшін жоғары оқу
                орындарына құжаттар қабылдау және оқуға қабылдау</p></li>
            <li><p>Жоғары оқу орнынан кейінгі білімнің білім беру бағдарламалары бойынша оқыту
                үшін жоғары оқу орындарына құжаттар қабылдау және оқуға қабылдау</p></li>
            <li><p>Шетелде, оның ішінде академиялық ұтқырлық шеңберінде оқу конкурсына қатысу
                үшін құжаттар қабылдау</p></li>
            <li><p>Жоғары және жоғары оқу орнынан кейінгі білім туралы құжаттардың телнұсқаларын
                беру</p></li>
            <li><p>Жоғары немесе жоғары оқу орнынан кейінгі білім беру ұйымдарында білім
                алушыларға жатақхана беру</p></li>
            <li><p>Техникалық және кәсіптік, орта білімнен кейінгі және жоғары білім беру
                ұйымдарындағы тәрбиеленушілер мен білім алушылардың жекелеген санаттағы
                азаматтарына, сондай-ақ, қорғаншылық (қамқоршылықтағы) пен патронаттағы
                тұлғаларына тегін тамақтандыруды ұсыну</p></li>
        </ul>
    </div>
{% endblock %}
