{% extends "ssc/kz/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Мемлекеттік қызметтер</h1>
        <h5 class="text-center">Мемлекеттік қызметтер қолданыстағы Мемлекеттік көрсетілетін қызметтер қағидалары мен стандарттарына сәйкес көрсетіледі.</h5>
        <br>
        <ul class="border border-dark">
            <li><a href="https://adilet.zan.kz/rus/docs/V1800017650#z3" target="_blank"><p>Жоғары білімнің білім беру бағдарламалары бойынша оқыту үшін жоғары оқу
                орындарына құжаттар қабылдау және оқуға қабылдау</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1800017650#z3" target="_blank"><p>Жоғары оқу орнынан кейінгі білімнің білім беру бағдарламалары бойынша оқыту
                үшін жоғары оқу орындарына құжаттар қабылдау және оқуға қабылдау</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V080005499" target="_blank"><p>Шетелде, оның ішінде академиялық ұтқырлық шеңберінде оқу конкурсына қатысу
                үшін құжаттар қабылдау</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1500010348" target="_blank"><p>Жоғары және жоғары оқу орнынан кейінгі білім туралы құжаттардың телнұсқаларын
                беру</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V1600013487" target="_blank"><p>Жоғары немесе жоғары оқу орнынан кейінгі білім беру ұйымдарында білім
                алушыларға жатақхана беру</p></a></li>
            <li><a href="https://adilet.zan.kz/rus/docs/V2000020579" target="_blank"><p>Техникалық және кәсіптік, орта білімнен кейінгі және жоғары білім беру
                ұйымдарындағы тәрбиеленушілер мен білім алушылардың жекелеген санаттағы
                азаматтарына, сондай-ақ, қорғаншылық (қамқоршылықтағы) пен патронаттағы
                тұлғаларына тегін тамақтандыруды ұсыну</p></a></li>
        </ul>
    </div>
{% endblock %}
