{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о получении заявления</h1>
    <p>{{ name }}, Ваше заявление принято.</p>
    <p><b>Просим Вас обязательно в течение 2 дней сдать в КарТУ, 1 корпус, кабинет № 109 следующие документы:</b></p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">1. оригинал СПРАВКИ ВКК – при уходе в академический отпуск по болезни;</li>
        <li class="list-group-item">2. оригинал ВОЕННОГО БИЛЕТА – при уходе в связи с призывом на воинскую службу;</li>
        <li class="list-group-item">3. оригинал СВИДЕТЕЛЬСТВА О РОЖДЕНИИ – при уходе в связи с рождением ребёнка.</li>
    </ul>
    <p><i>В случае не сдачи оригинала документа приказ не будет оформлен.</i></p>
    <p><b>Приказ о выходе из академического отпуска будет готов в течение 3 дней.</b></p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 109.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
