{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о получении заявления</h1>
    <p>{{ name }}, Ваше заявление принято.</p>
    <p><b>Просим Вас обязательно в течение 2 дней сдать в КарТУ, 1 корпус, кабинет № 107 следующие документы:</b></p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">1. оригинал СПРАВКИ ВКК – при уходе в академический отпуск по болезни;</li>
        <li class="list-group-item">2. оригинал ПОВЕСТКИ, либо СПРАВКА О ПРИЗЫВЕ С ВОЕНКОМАТА – в связи с призывом на воинскую службу.</li>
    </ul>
    <p><i>В случае не сдачи оригинала документа академический отпуск продлен не будет.</i></p>
    <p><b>Приказ о продлении академического отпуска будет готов в течение 3 дней.</b></p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 107.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
