{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Проверка правильности ввода email</h1>
    <p>Если Вы видите это письмо, значит email введен правильно, ничего делать не нужно.</p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 109.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
