{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о получении заявления</h1>
    <p>{{ name }}, Ваше заявление на отчисление из университета по
        собственному желанию принято.</p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 109.</p>
    <hr>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
