{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о получении заявления</h1>
    <p>{{ name }}, Ваше заявление принято.</p>
    <p>Вам необходимо подойти в КарТУ, главный корпус, 3 этаж, кабинет 309 «Б», для заключения договора. При себе необходимо  иметь удостоверение личности. </p>
    <p> После этого для оформления личного дела обратиться в 1 корпус 109 кабинет. </p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 109.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
