{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о неправильно заполненном заявлении</h1>
    <p>{{ name }}, Ваше заявление заполнено неправильно.</p>
    <p><b>Примечание:</b></p>
    <p>{{ note }}</p>
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарТУ, 1 корпус, кабинет № 109.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
</div>
{% endblock %}
