{% extends 'mails/base.html' %}
{% block message %}
<div class="container">
    <h1>Уведомление о получении заявления</h1>
    <p>{{ name }}, Ваше заявление принято. После его подписания вам на почту будет отправлено уведомление.</p>
{#    <p><b>Просим Вас обязательно сдать в КарГТУ, 1 корпус, кабинет № 109 следующие документы:</b></p>#}
{#    <ul class="list-group list-group-flush">#}
{#        <li class="list-group-item">Копия транскрипта</li>#}
{#        <li class="list-group-item">Академическая справка</li>#}
{#        <li class="list-group-item">Копия сертификата ЕНТ/КТА</li>#}
{#        <li class="list-group-item">Копия свидетельства о гранте(если грант)</li>#}
{#        <li class="list-group-item">Копия лицензии ВУЗа и специальности</li>#}
{#        <li class="list-group-item">Фото 3х4 - 1шт</li>#}
{#        <li class="list-group-item">Копия удостоверения личности</li>#}
{#    </ul>#}
    <p>Пожалуйста, не отвечайте на это письмо. Если у Вас возникнут вопросы, просим обращаться в КарГТУ, 1 корпус, кабинет № 109.</p>
    <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
    <hr>
    <p>С уважением, Центр Обслуживания Студентов КарГТУ</p>
</div>
{% endblock %}
Ваше заявление подписано. Вы можете получить его в КарГТУ, 1 корпус, кабинет № 109. При себе необходимо  иметь удостоверение личности.
