html,  body {
    height: 100%;
    overflow-x:hidden
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    flex-grow: 0;
    margin-top: auto;
}

.item {
    position: relative;
}
.item:hover {
    background: lightskyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
   max-height: 300px;
}