{% extends "ssc/en/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Educational services</h1>
        <h5 class="text-center">Educational services are provided to students in compliance with the
            Procedure of providing educational services approved at the University.</h5>
        <br>
        <ul class="border border-dark">
            <li><a href="{% static 'manual/1.pdf' %}" target="_blank"><p>Transcript of students who studied at KTU</p></a></li>
            <li><a href="{% static 'manual/2.pdf' %}" target="_blank"><p>Transcript of students who are studying at KTU</p></a></li>
            <li><a href="{% static 'manual/3.pdf' %}" target="_blank"><p>Granting and extension of an academic leave</p></a></li>
            <li><a href="{% static 'manual/4.pdf' %}" target="_blank"><p>Return from an academic leave</p></a></li>
            <li><a href="{% static 'manual/5.pdf' %}" target="_blank"><p>Transfer and restoration (to another university, to KTU, to the number of students)</p></a></li>
            <li><a href="{% static 'manual/5.pdf' %}" target="_blank"><p>Transfer within the University</p></a></li>
            <li><a href="{% static 'manual/8.pdf' %}" target="_blank"><p>Deduction of one’s own free will</p></a></li>
            <li><a href="{% static 'manual/6.pdf' %}" target="_blank"><p>Changing personal data</p></a></li>
            <li><a href="{% static 'manual/7.pdf' %}" target="_blank"><p>Issuance of a certificate from the place of study (form 10)</p></a></li>
            <li><a href="{% static 'manual/9.pdf' %}" target="_blank"><p>Recovery of a key card in case of loss</p></a></li>
            <li><p>Obtaining a key card upon restoration and transfer from another university</p></li>
        </ul>
    </div>
{% endblock %}
