{% extends "ssc/en/base.html" %}
{% load static %}
{% block content %}
<style>
    p {
        font-size: 11pt;
    }
</style>
    <div class="container">
        <h1 class="text-center p-3">Public services</h1>
        <h5 class="text-center">Public services are provided in accordance with the current Rules and
            standards of public services.</h5>
        <br>
        <ul class="border border-dark">
            <li><p>Accepting documents and enrollment to higher education institutions for training in
                educational programs of higher education</p></li>
            <li><p>Accepting documents and enrollment to higher education institutions for training in
                educational programs of postgraduate education</p></li>
            <li><p>Accepting documents for participation in the competition for studying abroad, including that
                within the framework of academic mobility</p></li>
            <li><p>Issuing duplicate documents of higher and postgraduate education</p></li>
            <li><p>Providing a hostel for students at institutions of higher or postgraduate education</p></li>
            <li><p>Providing free meals to certain categories of citizens, as well as to persons under
                guardianship and patronage, students and pupils of organizations of technical and
                vocational, post-secondary and higher education</p></li>
        </ul>
    </div>
{% endblock %}
