{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}
{% block extrahead %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{{ media }}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" value="Скачать архив с прикреплениями" name="_download_zip">
        <input type="button" value="Отказать" data-toggle="modal" data-target="#exampleModal">
        <input type="submit" class="default" value="Заселить" name="_populate">
        <input type="submit" class="default" value="Выселить" name="_evict">
        <input type="submit" class="default" value="Подтвердить" name="_verify">
    </div>
{{ block.super }}

<!-- модальный диалог с формой для отзыва заявления -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оповещение об отказе в предоставлении общежития</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Причина</label>
            <textarea class="form-control" id="message-text" name="note" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" name="_refuse">Отправить</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
