{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}
{% block extrahead %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{{ media }}
{% endblock %}

{% block after_field_sets%}
<div class="form-row download_zip">
    <div>
        <label>Скачать документы zip-файлом:</label>
        <div class=""><input type="submit" class="btn" value="Скачать" name="_download"></div>
    </div>
 </div>
{% endblock %}