{% extends 'mails/base.html' %}
{% block message %}
    <div class="container">
        <h1>Уведомление о завершении выполнения услуги</h1>
        <h3>Прием документов для участия в конкурсе на обучение за рубежом в рамках академической мобильности</h3>
        <p>{{ name }}, Ваши документы для участия в конкурсе на обучение за рубежом, в том числе в рамках академической
            мобильности приняты.</p>
        <hr>
        <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
        <p>С уважением, Центр Обслуживания Студентов КарГТУ</p>
    </div>
{% endblock %}
