{% extends 'mails/base.html' %}
{% block message %}
    <div class="container">
        <h1>Уведомление о завершении выполнения услуги</h1>
        <h3>Возвращение из академических отпусков обучающихся в организациях образования</h3>
        <p>{{ name }}, <b>Ваш приказ №{{ number }} готов от {{ date }} готов</b></p>
        <hr>
        <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
        <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
    </div>
{% endblock %}
