{% extends 'mails/base.html' %}
{% block message %}
    <div class="container">
        <h1>Уведомление о завершении выполнения услуги</h1>
        <h3>Выдача транскрипта обучающимся</h3>
        <p>{{ name }}, Ваш транскрипт
            готов. Для получения обратитесь в в ЦОС, находящийся в 1 корпусе, кабинет № 107.
            При себе иметь студенческий билет либо удостоверение личности.</p>
        <hr>
        <p>Если Вы получили это письмо по ошибке, пожалуйста, сообщите нам об этом.</p>
        <p>С уважением, Центр Обслуживания Студентов КарТУ</p>
    </div>
{% endblock %}
